/* CORE THEME */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  /* Fonts */
  --default-font: "Plus Jakarta Sans", system-ui, sans-serif;
  --heading-font: "Plus Jakarta Sans", system-ui, sans-serif;
  --nav-font: "Plus Jakarta Sans", system-ui, sans-serif;
}

/* sizes*/
:root {
  --navbar-height:67px;
}

:root {
  --theme-color: #41EAD4;
  --accent-color: #011627;
  --footer-color: #111827;
  --background-color: #f9fafb;
  --default-color: #444444;
  --heading-color: #000;
  --surface-color: #ffffff;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

html, body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/* CORE THEME End*/
.theme-btn {
  background-color: var(--theme-color);
  color: black;
}

#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: var(--background-color);
  transition: all 0.6s ease-out;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #ffffff;
  border-color: var(--accent-color) transparent var(--theme-color) transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.navbar .navbar-brand img {
  height: 50px;
  width: 50px;
}

.hero-section {
  margin-top: calc(var(--navbar-height) + 60px);
}
.hero-section .hero-heading {
  text-align: center;
}
.hero-section .hero-heading h1 {
  font-size: 3rem;
}
.hero-section .hero-img figure img {
  width: 400px;
  height: 100%;
}
.hero-section .social-links {
  position: relative;
}
.hero-section .social-links ul li {
  margin: 0px -2px;
  font-size: 22px;
}
.hero-section .social-links ul::before {
  content: "";
  position: absolute;
  right: 0%;
  border-top: 0.5px solid grey;
  width: 75%;
  height: 1px;
  top: 50%;
}
.hero-section .yt-stats-row-wrap {
  position: relative;
}
.hero-section .yt-stats-row-wrap .yt-stat-1, .hero-section .yt-stats-row-wrap .yt-stat-2 {
  text-align: end;
}
.hero-section .yt-stats-row-wrap .yt-stat-1 .count, .hero-section .yt-stats-row-wrap .yt-stat-2 .count {
  font-size: 38px;
  color: black;
  text-transform: uppercase;
}

@media screen and (min-width: 576px) {
  .navbar .navbar-brand img {
    width: 65px;
    height: 65px;
  }
  .hero-section .hero-heading {
    text-align: center;
  }
  .hero-section .hero-heading h1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .navbar .navbar-brand img {
    width: 75px;
    height: 75px;
  }
  .hero-section .hero-heading {
    text-align: left;
  }
  .hero-section .hero-heading h1 {
    font-size: 4rem;
  }
  .hero-section .hero-img figure img {
    width: 700px;
    height: 100%;
  }
  .hero-section .yt-stats-row-wrap .yt-stats-row {
    position: absolute;
    left: 80px;
  }
}/*# sourceMappingURL=style.css.map */